@import 'variables';
@import 'mixins';

.page {
  font-family: $text-font;
  color: $text-color;
  scroll-behavior: smooth;
  min-width: 320px;
}

.page__body {
  margin: 0;
}

/* #region HEADER */

.header {
  box-sizing: border-box;

  background-image: url('../images/Image.png');
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
  }
}

.header__bottom {
  @include content-padding-inline;

  margin-bottom: 64px;

  &--title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: #fff;
  }
}

.top-bar__logo {
  display: flex;
}

.top-bar__icon {
  display: flex;
  gap: 32px;
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
  transition: all 0.3s;
}

.icon--menu {
  background-image: url('../images/icons/Icon-Burger-menu.png');

  &:hover {
    transform: scale(1.3);
    background-image: url('../images/icons/Icon-Burger-menu-HOVER.png');
  }
}

.icon--phone {
  background-image: url('../images/icons/Icon-Phone-call.png');
}

.top-bar {
  @include content-padding-inline;

  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #endregion HEADER */

/* #region ASIDE */

.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);
}

.icon--close {
  background-image: url('../images/icons/Icon-Close.png');
  background-repeat: no-repeat;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.menu__content {
  position: relative;
  padding-inline: 72px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.menu__call-to-order {
  color: inherit;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 2px;
  padding-bottom: 4px;
  border-bottom: 1px solid #1b2129;
  width: fit-content;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__top {
  margin-bottom: 56px;
}

/* #endregion ASAIDE */

/* #region MAIN */

.main {
  display: grid;
  row-gap: 64px;
  padding-block: 64px;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: $text-weight;
  font-size: $section-size;
  line-height: $section-line-height;

  @include on-tablet {
    font-size: 40px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

/* #endregion MAIN */

/* #region RECOMMENDED */

.recommended {
  &__products {
    display: grid;
    row-gap: 40px;

    @include content-padding-inline;

    @include on-tablet {
      row-gap: 56px;
      justify-items: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }

    &--title {
      grid-column: 1 / -1;
    }
  }
}

.product {
  &__photo {
    width: 100%;
  }
}

/* #endregion RECOMMENDED */

/* #region CATEGORIES */

.categories {
  &__wrapper {
    @include content-padding-inline;

    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__title {
    @include content-padding-inline;

    font-size: 32px;
    line-height: 32px;
    font-weight: 700;

    @include on-tablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 48px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    object-fit: cover;
  }

  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
  }
}

/* #endregion CATEGORIES */

/* #region ABOUT */

.about {
  position: relative;
  background-color: #fcfaef;
  &__content {
    @include content-padding-inline;

    margin-bottom: 48px;

    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 24px 20px;
    margin-top: 48px;

    @include on-tablet {
      --columns: 6;

      column-gap: 24px;

      margin-bottom: 120px;
    }

    @include on-desktop {
      --columns: 12;

      column-gap: 24px;
    }
  }

  &__image {
    background-image: url('../images/about-image.png');

    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;

    @include on-tablet {
      grid-column: 1 / 3;
      font-size: 40px;
      line-height: 40px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__text {
    margin: 0;
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / -1;
      letter-spacing: 0.15px;
    }
  }
}

/* #endregion ABOUT */

/* #region CONTACT */
.contact {
  @include page-grid;

  row-gap: 16px;

  @include content-padding-inline;

  &-title {
    grid-column: 1 / -1;
  }
}

.contact__wrapper {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 1 / 7;
  }
}

.input {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  height: 48px;
  padding-left: 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;

  &::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.15px;
  }
}

.input--Massage {
  height: 148px;

  &::placeholder {
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.15px;
  }
}

.contact__button {
  grid-column: 1 / -1;
  margin-bottom: 48px;

  @include set-button;

  @include on-desktop {
    grid-column: 1 / 7;
  }
}

.contact__decription {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 8 / 10;
  }
}

.contact__info {
  &--first {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.15px;
  }

  &--second {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.15px;
  }
}

/* #endregion CONTACT */
