@import 'variables';

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

// Виправлення: додано правильні відступи
@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 26px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin set-button {
  display: flex;
  justify-content: center;
  height: $button-height;
  width: $button-width;
  border-radius: $button-radius;
  background-color: $button-color;

  text-align: center;

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    color: $button-passed-color;
  }
}
