/* Text page */
$text-font: Manrope, sans-serif;
$text-color: #1b2129;
$text-weight: 700;

/* Section */

$section-size: 32px;
$section-line-height: 32px;

/* Displays for Mixins */

$tablet-min-width: 744px;
$desktop-min-width: 1260px;
